.topbar{
    width: 100%;
    background-color: yellow;
    height: 50px;
    z-index: 999;
    position: sticky;
    top: 0;
}
.topbarWrapper{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;

}
.logo{
    font-weight:  bold;
    font-size: 20px;
    color: darkblue;
    cursor: pointer;
    line-height: 50px;
}
.topbarIconContaine{

}
.topIconBadgeContainer{
    display: inline-block;
    position: relative;
}
.topLeft{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-user{

    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}


