/* RecentOrder.module.css */

/* Style the table */
.RecentOrder_para{
  margin-bottom: 15px;
}
.recentorder_table {
    width: 1000px;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  /* Style the table header (th) */
  .table_header {
    background-color: rgb(34, 209, 127);
    font-weight: bold;
    padding: 10px;
    text-align: left;
    text-align: center;
  }
  /* Style the table cells (td) */
  .table_cell {
    padding: 10px;
    border: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px; /* Set a maximum width before truncating text */
  }
  /* Style the odd rows with a different background color */
  .recent_tablerow:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  .table{
    width: 100%;
  }